WebApplication/Service References/SvTareo/Tareo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Tareo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.10.233.40/WCF_TAREO/Tareo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.10.233.40/WCF_TAREO/Tareo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.10.233.40/WCF_TAREO/Tareo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITareo_ProbarConexion_InputMessage">
    <wsdl:part name="parameters" element="tns:ProbarConexion" />
  </wsdl:message>
  <wsdl:message name="ITareo_ProbarConexion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProbarConexionResponse" />
  </wsdl:message>
  <wsdl:message name="ITareo_ListarPersonalGestor_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPersonalGestor" />
  </wsdl:message>
  <wsdl:message name="ITareo_ListarPersonalGestor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPersonalGestorResponse" />
  </wsdl:message>
  <wsdl:portType name="ITareo">
    <wsdl:operation name="ProbarConexion">
      <wsdl:input wsaw:Action="http://tempuri.org/ITareo/ProbarConexion" message="tns:ITareo_ProbarConexion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITareo/ProbarConexionResponse" message="tns:ITareo_ProbarConexion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPersonalGestor">
      <wsdl:input wsaw:Action="http://tempuri.org/ITareo/ListarPersonalGestor" message="tns:ITareo_ListarPersonalGestor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITareo/ListarPersonalGestorResponse" message="tns:ITareo_ListarPersonalGestor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITareo" type="tns:ITareo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProbarConexion">
      <soap:operation soapAction="http://tempuri.org/ITareo/ProbarConexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPersonalGestor">
      <soap:operation soapAction="http://tempuri.org/ITareo/ListarPersonalGestor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tareo">
    <wsdl:port name="BasicHttpBinding_ITareo" binding="tns:BasicHttpBinding_ITareo">
      <soap:address location="http://10.10.233.40/WCF_TAREO/Tareo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>