WebApplication/Service References/SvTareo/Tareo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBE_PERSONAL_GESTOR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BE_PERSONAL_GESTOR" nillable="true" type="tns:BE_PERSONAL_GESTOR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBE_PERSONAL_GESTOR" nillable="true" type="tns:ArrayOfBE_PERSONAL_GESTOR" />
  <xs:complexType name="BE_PERSONAL_GESTOR">
    <xs:sequence>
      <xs:element minOccurs="0" name="APELLIDO_MATERNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APELLIDO_PATERNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CENTRO_COSTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CENTRO_COSTO_ORIGEN" type="xs:int" />
      <xs:element minOccurs="0" name="CODIGO_TRABAJADOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOCUMENTO_IDENTIFICACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_ACTUALIZACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_CREACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOTIVO_CESE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRES" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BE_PERSONAL_GESTOR" nillable="true" type="tns:BE_PERSONAL_GESTOR" />
</xs:schema>