WinForms/Service References/SvTareo/Tareo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ssk-appdev/WCF/Tareo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntity" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProbarConexionGestor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="as_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProbarConexionGestorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProbarConexionGestorResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="as_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProbarConexionTareo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="as_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProbarConexionTareoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProbarConexionTareoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="as_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPersonalGestor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDE_EMPRESA" type="xs:int" />
        <xs:element minOccurs="0" name="CENTRO_COSTO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPersonalGestorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessEntity" minOccurs="0" name="ListarPersonalGestorResult" nillable="true" type="q1:ArrayOfBE_PERSONAL_GESTOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PersonalGestor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDE_EMPRESA" type="xs:int" />
        <xs:element minOccurs="0" name="CENTRO_COSTO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TIPO_PERSONA" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PersonalGestorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_PersonalGestorResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PersonalGestorDNI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDE_EMPRESA" type="xs:int" />
        <xs:element minOccurs="0" name="CENTRO_COSTO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PersonalGestorDNIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_PersonalGestorDNIResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PersonalGestorSKEX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDE_EMPRESA" type="xs:int" />
        <xs:element minOccurs="0" name="CENTRO_COSTO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TIPO_PERSONA" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PersonalGestorSKEXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_PersonalGestorSKEXResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PersonalGestorDNI_SKEX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDE_EMPRESA" type="xs:int" />
        <xs:element minOccurs="0" name="CENTRO_COSTO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PersonalGestorDNI_SKEXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_PersonalGestorDNI_SKEXResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ASIGNACION_TAREO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessEntity" minOccurs="0" name="obj" nillable="true" type="q2:BE_ASIGNACION_TAREO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ASIGNACION_TAREOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insertar_ASIGNACION_TAREOResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_TAREO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessEntity" minOccurs="0" name="obj" nillable="true" type="q3:BE_TAREO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_TAREOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insertar_TAREOResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ASISTENCIA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessEntity" minOccurs="0" name="obj" nillable="true" type="q4:BE_ASISTENCIA_PERSONAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_ASISTENCIAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insertar_ASISTENCIAResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="f" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="centro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FILE_ZIPEADO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="procesados" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Estado_PeridoTareo_SSK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDE_EMPRESA" type="xs:int" />
        <xs:element minOccurs="0" name="CENTRO_COSTO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FECHA_TAREO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Estado_PeridoTareo_SSKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Estado_PeridoTareo_SSKResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Estado_PeridoTareo_SKEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDE_EMPRESA" type="xs:int" />
        <xs:element minOccurs="0" name="CENTRO_COSTO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FECHA_TAREO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Estado_PeridoTareo_SKExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Estado_PeridoTareo_SKExResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LIMPIAR_MIGRACION_GESTOR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDE_EMPRESA" type="xs:int" />
        <xs:element minOccurs="0" name="CENTRO_COSTO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FECHA_TAREO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LIMPIAR_MIGRACION_GESTORResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LIMPIAR_MIGRACION_GESTORResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TAREO_LIMPIAR_MIGRACION">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CENTRO_COSTO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FECHA_TAREO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TAREO_LIMPIAR_MIGRACIONResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TAREO_LIMPIAR_MIGRACIONResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>