WinForms/Service References/SvTareo/Tareo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBE_PERSONAL_GESTOR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BE_PERSONAL_GESTOR" nillable="true" type="tns:BE_PERSONAL_GESTOR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBE_PERSONAL_GESTOR" nillable="true" type="tns:ArrayOfBE_PERSONAL_GESTOR" />
  <xs:complexType name="BE_PERSONAL_GESTOR">
    <xs:sequence>
      <xs:element minOccurs="0" name="APELLIDO_MATERNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APELLIDO_PATERNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CENTRO_COSTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CENTRO_COSTO_ORIGEN" type="xs:int" />
      <xs:element minOccurs="0" name="CODIGO_TRABAJADOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOCUMENTO_IDENTIFICACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_ACTUALIZACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_CREACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MOTIVO_CESE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRES" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BE_PERSONAL_GESTOR" nillable="true" type="tns:BE_PERSONAL_GESTOR" />
  <xs:complexType name="BE_ASIGNACION_TAREO">
    <xs:sequence>
      <xs:element minOccurs="0" name="COD_PROYECTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_REGISTRO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_TAREO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLG_ESTADO" type="xs:int" />
      <xs:element minOccurs="0" name="IDE_CECOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDE_CLIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDE_EMPRESA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDE_TAREO_ASIGNACION" type="xs:int" />
      <xs:element minOccurs="0" name="IDE_TURNO" type="xs:int" />
      <xs:element minOccurs="0" name="IDE_UBICACIONES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Int_ANIO" type="xs:int" />
      <xs:element minOccurs="0" name="Int_MES" type="xs:int" />
      <xs:element minOccurs="0" name="Int_SEM" type="xs:int" />
      <xs:element minOccurs="0" name="USUARIO_REGISTRO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BE_ASIGNACION_TAREO" nillable="true" type="tns:BE_ASIGNACION_TAREO" />
  <xs:complexType name="BE_TAREO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CANTIDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCENTRO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_ASISTENCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_MIGRADO" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_REGISTRO" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_TAREO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLG_ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLG_MIGRADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HORA_EMPLEADA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDE_ASISTENCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDE_BONIFICACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDE_CAPATAZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDE_EMPRESA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDE_INGCAMPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDE_TAREA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDE_TRABAJO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUARIO_REGISTRA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BE_TAREO" nillable="true" type="tns:BE_TAREO" />
  <xs:complexType name="BE_ASISTENCIA_PERSONAL">
    <xs:sequence>
      <xs:element minOccurs="0" name="CANTIDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CANTIDAD_ASISTENCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCENTRO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_DIARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_REGISTRO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_ASISTENCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDE_ASISTENCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDE_EMPRESA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDE_ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDE_PERSONAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUARIO_REGISTRA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BE_ASISTENCIA_PERSONAL" nillable="true" type="tns:BE_ASISTENCIA_PERSONAL" />
</xs:schema>